<h1>Editing Leave Event</h1>


<%= form_for(@leave_event) do |f| %>
  <% if @leave_event.errors.any? %>
    <div id="error_explanation">
      <% @leave_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </div>
  <% end %>

  <%= label_tag :start_time, "start time"%>
  <%= text_field_tag "leave_event[start_time]",@leave_event.start_time, :placeholder=>'Start Date(YYY-MM-DD)', :style=>'width:170px;',:class=>'required', :disabled=>true %>
  <%= label_tag :end_time, "end time"%>
  <%= text_field_tag "leave_event[end_time]",@leave_event.end_time, :placeholder=>'Start Date(YYY-MM-DD)', :style=>'width:170px;',:class=>'required',:disabled=>true  %>
  <%= label_tag :reason, "reason"%>
  <%= text_area_tag 'leave_event[reason]',@leave_event.reason, :style=>'height: 50px;width: 25%;',:class=>'required',:disabled=>true  %><br/>
  <%= label_tag :user_id, "user_id"%>
  <%= text_area_tag 'leave_event[user_id]',@leave_event.user_id, :style=>'height: 50px;width: 25%;',:class=>'required',:disabled=>true  %><br/>
  <%= label_tag :status, "status"%>
  <%= select_tag 'leave_event[status]', options_for_select(LeaveEvent.statuses,LeaveEvent.statuses[@leave_event.status]) %>

  <div class="actions" onclick = "$('#new_leave_event').validate()">
    <%= f.submit%>
  </div>
<% end %>


<%= link_to 'Back', leave_events_path %>
