<p id="notice"><%= notice %></p>

<h1>Leave Events</h1>
<% leaves_left = current_user.leaves_left %>

<p> leaves left for <b> <%= current_user.email %> : <%= leaves_left %></b></p>

<table style = 'width:100%'>
  <thead style="background-color: blanchedalmond;">
    <tr>
      <th colspan="3">start</th>
      <th colspan="3">end</th>
      <th colspan="3">hours</th>
      <th colspan="3">reason</th>
      <th colspan="3">status</th>
      <% if current_user.admin? %>
        <th colspan="3">email</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @leave_events.each do |leave_event| %>
      <tr>
        <td colspan="3"><%=leave_event["start_time"]%></td>
        <td colspan="3"><%=leave_event["end_time"]%></td>
        <td colspan="3"><%=leave_event["hours"]%></td>
        <td colspan="3"><%=leave_event["reason"]%></td>
        <td colspan="3"><%=leave_event["status"]%></td>
        <% if current_user.admin? %>
          <td colspan="3"><%=leave_event["email"]%></td>
          <td><%= link_to 'Edit', edit_leave_event_path(leave_event["id"]) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%if leaves_left > 0 %>
<%= link_to 'Apply New Leave', new_leave_event_path %>
<% end %>
