<p id="notice"><%= notice %></p>

<h1>Leave Peroids</h1>

<table style = 'width:100%'>
  <thead style="background-color: blanchedalmond;">
    <tr>
      <th colspan="3">start</th>
      <th colspan="3">end</th>
      <th colspan="3">user</th>
      <th colspan="3">assigned</th>
      <th colspan="3">used</th>
    </tr>
  </thead>

  <tbody>
    <% @leave_peroids.each do |leave_peroid| %>
      <tr>
        <td colspan="3"><%=leave_peroid["start_time"]%></td>
        <td colspan="3"><%=leave_peroid["end_time"]%></td>
        <td colspan="3"><%=leave_peroid["email"]%></td>
        <td colspan="3"><%=leave_peroid["assigned"]%></td>
        <td colspan="3"><%=leave_peroid["used"]%></td>
        <!-- <td><%#= link_to 'Edit', edit_leave_event_path(leave_event) %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Assign New Leaves for employee', new_leave_peroid_path %>
